body, html { 
  margin:0; 
  padding:0; 
  height:100%; 
} 
.wrapper { 
  min-height:100%; 
  position:relative; 
} 
.header-zone { 
  padding:5px; 
  height: 100px; 
  display: flex;
  left: 0px;
} 
.middle-zone { 
  padding-bottom:100px; 
} 
.footer-zone { 
  height: 50px; 
  background:black; 
  width:100%; 
  position:absolute; 
  bottom:0; 
  left:0; 
}
.banner{
	position: relative;
	left: 50px;
}
.menuFondo{
	background-color: #14335a;
	position:absolute;
	top: 0px;
	left: -120px;
	width: 1368px;
}
.footer{
	position: flex;
    bottom: 0;
    width: 100%;
    height: 60px;
    text-align: center;
    text-justify: inter-word;
    line-height: 5px;
    background-color: #f5f5f5;
    font-size: 12px;
}
.texto{
	position: relative;
	top: 15px;
}
.font{
	color: white;
}
.btnlog{
	position: absolute;
	left: 110px;
	background-color: #14335a;
	color: white;
}
.login{
	position: absolute;
	top: 150px;
	left: 250px;
}
.panelBody{
	height: 300px;
	background-color: #14335a;
	color: white;	
	height: 350;
}
.panelHead{
	width: 600px;
	background-color: #FAFAFA;
}
.imgLogin{
	position: absolute;
	left: 280px;
	top:30px;
	width: 80px;
	height: 80px;
}
.form{
	position: relative;
	top: 40px;
	left: 80px;
}
.inicio{
	position: relative;
	top: 250px;
	left: 30px;
	width: 152px;
	height: 117px;
}
input[type="file"]#archivo {
 width: 0.1px;
 height: 0.1px;
 opacity: 0;
 overflow: hidden;
 position: absolute;
 z-index: -1;
 }
 label[for="archivo"] {
 font-size: 14px;
 font-weight: 600;
 color: #fff;
 background-color: #106BA0;
 display: inline-block;
 transition: all .5s;
 cursor: pointer;
 padding: 15px 40px !important;
 text-transform: uppercase;
 width: fit-content;
 text-align: center;
 }